
// Analysis parameters

params.autosomal_PAR_vcf = '~/MAGE_1kGP_high_coverage_Illumina_SNV_INDEL_SV_phased_panel_autosomal_PAR_X_filltags_MAF_filtered_fix_line.vcf.gz'
params.non_PAR_vcf = '~/MAGE_1kGP_high_coverage_Illumina_SNV_INDEL_SV_phased_panel_chrX_non_PAR_filltags_MAF_filtered_wo_structual_variants_fix_line.vcf.gz'
params.metadata = '~/MAGE_McCoy2023.tsv'
params.concated_vcf_file_name = 'MAGE_1kGP_high_coverage_Illumina_chr1_22_X'
params.outdir = 'MAGE_1kGP_high_coverage_Illumina'






process.executor = 'slurm'
process.queue = 'amd'

includeConfig 'conf/base.config'
report {

  enabled = true
  file = 'DS_CALC_report.html'
  overwrite=true

}

trace {

  enabled = true
  file = 'DS_CALC_trace.txt'
  overwrite=true


}


singularity {
  enabled = true
  autoMounts = true
  cacheDir = "$baseDir/singularity_img/"
}


