/*
 * -------------------------------------------------
 *  nf-core/MetaAnalysis Nextflow base config file
 * -------------------------------------------------
 * A 'blank slate' config file, appropriate for general
 * use on most high performace compute environments.
 * Assumes that all software is installed and available
 * on the PATH. Runs in `local` mode - all jobs will be
 * run on the logged in environment.
 */

process {
  maxRetries = 2
  maxErrors = '-1'

  errorStrategy = 'retry' 
  
  // Process-specific resource requirements

     // Process-specific resource requirements
  withName: CALCULATE_AUTOSOMAL_PAR_DS {   
    memory = {task.attempt < 2 ? 10.GB : 10.GB * task.attempt} 
    time= {task.attempt < 2 ? 2.h : 2.h * task.attempt } 
  }
  withName: CALCULATE_NON_PAR_DS {
    memory = {task.attempt < 2 ? 10.GB : 10.GB * task.attempt} 
    time= {task.attempt < 2 ? 1.h : 1.h * task.attempt } 
  }

  withName: CONCAT_VCFS {
    memory = {task.attempt < 2 ? 8.GB : 10.GB * task.attempt} 
    time= {task.attempt < 2 ? 1.h : 1.h * task.attempt }  
  }
 
     


}






